<div class="container mt-5">
    <div class="row">
        <!-- <div class="d-flex align-items-center pb-2"> -->
            <div class="col-5">
                <div class="form-inline justify-content-center">
                    <div class="label" style="width: 20%;">商品分類</div>
                        <select 
                            class="form-select form-control ml-2" 
                            style="width: 60%;"
                            (change)="onProductTypeSelected($event.target.value)"
                        >
                            <option 
                                *ngFor="let type of productTypeList"
                                [value]="type.id"
                            >
                                {{type.name}}  
                            </option>
                        </select>
                    </div>
            </div>
            <div class="col-4">
                <div class="form-inline justify-content-center">
                    <input type="text" (keyup.enter)="onSearch()" class="form-control mr-2" #search placeholder="請輸入商品標題關鍵字">
                    <button class="btn btn-secondary fa fa-search" (click)="onSearch()"></button>
                </div>
            </div>
            <div class="col-3" style="text-align: right;">
                <button class="btn btn-primary fa fa-plus" routerLink="/product-management/creation/">新增商品</button>
            </div>
        <!-- </div> -->
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th></th>
                        <!-- <th>分類</th> -->
                        <th>價格</th>
                        <th>描述</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">
                            <div class="p-2">
                                <img src="{{product.coverImage}}" alt="{{product.productName}}" class="img-fluid" style="max-height: 100px;">
                            </div>

                        </th>
                        <th scope="row">
                            <div class="p-2">            
                                <div class="ml-3 d-inline-block align-middle">
                                    <h5 class="mb-0">
                                        <a routerLink="/shop/{{product.id}}" class="text-dark">{{product.title}}</a>
                                    </h5>
                                    <span
                                        *ngIf="product.productType"
                                        class="text-muted font-weight-normal font-italic d-block">分類：
                                        {{product.productType.name}}
                                    </span>
                                </div>
                            </div>
                        </th>
                        <td class="align-middle"><strong>{{product.originalPrice | currency: 'TWD':true:'1.0-0' }}</strong></td>
                        <td>{{product.description | slice:0:100}}...</td>    
                        <td class="align-middle text-center">
                            <a class="text-danger mr-2">
                                <i (click)="removeProduct(product.id)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                            </a>
                        </td>
                        <td class="align-middle text-center">
                            <a class="text-dark" routerLink="/product-management/update/{{product.id}}">
                                <i class="fa fa-pencil" style="font-size: 2em; cursor: pointer;" ></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<h1 class="d-flex justify-content-center mt-5 mb-5" *ngIf="this.paginationParams.TotalCount <= 0">{{error}}</h1>
<div class="d-flex justify-content-center">
    <app-pager
        [pageSize]="this.paginationParams.PageSize"
        [totalCount]="this.paginationParams.TotalCount"
        [pageIndex]="this.paginationParams.PageIndex"
        (pageChanged)="onPageChanged($event)"
    ></app-pager>
</div>