<div class="container mt-3">
  <div class="row">
    <section class="col-1"></section>
    <section class="col-5">
      <canvas baseChart width="400" height="400"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </section>
    <section class="col-5">
      <table class="table table-dark">
        <tr>
          <th scope="col" *ngFor="let label of lineChartData.labels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <div class="button-row">
        <button class="btn btn-primary mr-3 mb-3" (click)="randomize()">Randomize</button>
        <button class="btn btn-primary mr-3 mb-3" (click)="pushOne()">Push</button>
        <button class="btn btn-primary mr-3 mb-3" (click)="changeColor()">Recolor</button>
        <button class="btn btn-primary mr-3 mb-3" (click)="hideOne()">Toggle Series B</button>
        <button class="btn btn-primary mr-3 mb-3" (click)="changeLabel()">Change Label</button>
      </div>
    </section>
  </div>
</div>

