<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>後端</h3>
            <p>
                - RESTFul API
            </p>
            <p>
                - JWT
            </p>
            <p>
                - Entity Framework
            </p>
            <p>
                - Linq
            </p>
            <p>
                - Model First
            </p>
            <p>
                - 三層架構
            </p>
            <p>
                - DI patten
            </p>
            <p>
                - Repository patten
            </p>
            <p>
                - Docker
            </p>
            <p>
                - Swagger
            </p>
            <p>
                - Enum
            </p>
            <p>
                - Seeds
            </p>
            <p>
                - Response Shapping 資料塑形
            </p>
            <p>
                - Redis
            </p>
            <p>
                - Auto mapping
            </p>
            <p>
                - Error Handling
            </p>
            <p>
                - Pagination
            </p>
            <p>
                - Filting Sorting Data
            </p>
        </div>
        <div class="col-4">
            <h3>前端</h3>
            <p>
                - Typescript
            </p>
            <p>
                - Lazy loading
            </p>
            <p>
                - Interceptor
            </p>
            <p>
                - CanActivate
            </p>
            <p>
                - Service 與 依賴注入
            </p>
            <p>
                - Observables
            </p>
            <p>
                - 自製元件 父子元件溝通
            </p>
        </div>
        <div class="col-4">
            <h3>部署</h3>
            <p>
                - Linux ubuntu
            </p>
            <p>
                - Docker
            </p>
            <p>
                - Apache
            </p>
            <p>
                - .Net Runtime
            </p>
            <p>
                - Sql Server
            </p>
            <p>
                - SFTP Deploy
            </p>
            <p>
                - 啟動後自動建立資料庫
            </p>
            <p>
                - Redis
            </p>
        </div>
    </div>
</div>