<div class="form-label-group mb-3">
    <label for="{{label}}" class="mb-1">{{label}}</label>
    <input 
        [ngClass]="(controlDir?.control?.touched)? !controlDir.control!.valid ? 'is-invalid' : 'is-valid' : null!"
        [type]="type"
        (input)="onChange($event.target.value)"
        (blur)="onTouched()"
        #input
        class="form-control"
        placeholder="{{label}}"
    >
    <div *ngIf="controlDir?.control?.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
    <div class="invalid-feedback" *ngIf="(!controlDir?.control?.valid && controlDir?.control?.touched)">
        <span *ngIf="controlDir.control!.errors?.required">『{{label}}』為必填</span>
        <span *ngIf="controlDir.control!.errors?.pattern">『信箱地址』格式錯誤</span>
    </div>
    <div class="invalid-feedback d-block" *ngIf="(!controlDir?.control?.valid && controlDir?.control?.dirty)" >
        <span *ngIf="controlDir.control!.errors?.emailExists">Email address is in use</span>
    </div>
</div>